/* projets.css */
@font-face {
  font-family: 'Absans';
  src: url('/fonts/Absans-Regular.woff') format('woff'),
       url('/fonts/Absans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.projets-modal {
position: fixed;
left: 0;
bottom: -100%;
width: 100%;
height: 80%;
background-color: #e7f1c3;
box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
z-index: 1000;
transition: bottom 0.3s ease-in-out;
overflow-y: auto;
display: flex;
flex-direction: column;
}

.projets-modal.open {
bottom: 0;
}

.projets-modal-content {
padding: 20px;
display: flex;
flex-direction: column;
flex-grow: 1;
}

.projets-modal-content h1 {
color: #333;
font-family: 'Absans', sans-serif;
margin-bottom: 15px;
text-align: center;
}

.projets-list {
margin-bottom: 20px;
flex-grow: 1;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
}

.project-item {
background-color: #eff5da;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
padding: 15px;
margin-bottom: 15px;
display: flex;
flex-direction: column;
}

.project-image {
width: 100%;
max-height: 200px;
object-fit: cover;
border-radius: 7px;
margin-bottom: 10px;
}

.project-details h3 {
color: #333;
margin-top: 0;
margin-bottom: 5px;
font-family: 'Absans', sans-serif;
}

.project-description {
color: #555;
margin-bottom: 10px;
font-family: 'Absans', sans-serif;
}

.project-technologies {
list-style: none;
padding: 0;
margin: 0 0 10px 0;
display: flex;
flex-wrap: wrap;
gap: 5px;
font-family: 'Absans', sans-serif;
}

.project-technologies li {
background-color: #e0e0e0;
color: #333;
padding: 5px 8px;
border-radius: 4px;
font-size: 0.9em;
font-family: 'Absans', sans-serif;
}

.project-links {
display: flex;
gap: 10px;
margin-top: auto;
}

.link-button {
  display: inline-block;
}

.project-links a {
display: inline-block;
padding: 8px 15px;
text-decoration: none;
border-radius: 4px;
transition: background-color 0.3s ease;
}

.live-link,
.github-link,
.youtube-link {
display: inline-flex;
align-items: center;
gap: 5px;
padding: 8px 12px;
border-radius: 5px;
text-decoration: none;
color: #333;
font-size: 0.9em;
height: 36px;
}

.github-link {
background-color: #292929;
color: #fff;
}

.github-link:hover {
background-color: #686868;
}

.youtube-link {
background-color: #bb1b1b;
color: #fff;
}

.youtube-link:hover {
background-color: #ee6767;
}

.social-icon {
width: 20px;
vertical-align: middle;
}

.github-link span,
.youtube-link span {
line-height: 1;
}